@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

body {
    background-color: #181818;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    color: #fff;
}
body::before {
    background: url('bg.jpg') no-repeat center center/cover;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
    overflow: hidden;
}

.loaderPage {
    position: absolute;
    background-color: #282828;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    transition: .5s;
}

.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 65px;
    font-weight: 900;
}

.loader span {
    color: #3a3a3a;
    opacity: .5;
    margin-left: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #181818;
    position: absolute;
    width: 70vw;
    max-width: 450px;
    height: 70vh;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px;
    border-radius: 30px;
    z-index: 10;
    transition: 1s;
}

/* this Progress Bar in Around Container */
body::after {
    content:'';
    background-image: var(--changePlayTime);
    position: absolute;
    width: 70vw;
    max-width: 450px;
    height: 70vh;
    padding: 32px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 30px;
    box-shadow: -16px -10px 20px rgb(14, 14, 14);
    z-index: 5;
    transition: 1s;
}

.playlistDisplay{
    position: absolute;
    top: 10px;
    left: 20px;
    cursor: pointer;
    z-index: 25;
}

.line {
    background-color: #fff;
    height: 5px;
	width: 28px;
    margin-top: 5px;
    border-radius: 5px;
    transform-origin: left;
    transition: .5s;
}

.playlistView {
    opacity: 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 280px;
    background-color: #1f1f1f;
    border-radius: 20px;
    position: absolute;
    top: 15px;
    padding-top: 25px;
    overflow-y: auto;
    overscroll-behavior-inline: contain;
    z-index: 20;
    pointer-events: none;
    transition: 0.3s;
}

.playlistView > span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 15px;
    cursor: pointer;
}

.playlistCover {
    width: 40px;
    border-radius: 20px;
}

.cover-container {
    position: relative;
}

.cover {
    width: 250px;
    border-radius: 50%;
    box-shadow: -2px -2px 30px rgba(0, 0, 0, 0.959);
    transition: 1s;
    animation: 5s linear infinite;
}

.cdDesign {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 45px;
    height: 45px;
    background-image: radial-gradient(#181818, #181818,rgba(0, 0, 0));
    border-radius: 50%;
    border: 10px solid #3a3a3a;
    transition: 1s;
}

@keyframes rotateImg{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
  }

.display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 30px;
    transition: 1s;
    cursor: default;
    margin: 10px;
}

.displayTimePeriod {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}
.displayTimePeriodWraper {
    display: flex;
    align-items: center;

}
.timePeriod {
    margin: 0 10px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.ten {
    cursor: pointer;
    transition: .5s;
}

.controls {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    justify-content: space-around;
    width: 300px;
}

#controlButton {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    padding: 5px;
    transition: 0.3s;
    cursor: pointer;
}

#controlButton:active {
    background: rgb(39, 39, 39);
    border-radius: 10px;
}   


.play-pause {
    position: absolute;
}

.muteButton {
    width: 32px;
    height: 32px;
}


@media only screen and (min-width: 650px) {

    .playlistView {
        width: 370px;
        height: 340px;
    }

    .line {
        height: 7px;
        width: 33px;
    }

    .cover {
        width: 300px;
    }

    .cdDesign {
        width: 80px;
        height: 80px;
        border-width: 16px;
    }

    .title {
        font-size: 38px;
        text-align: center;
    }

    .playTime {
        cursor: pointer;
    }
    .displayTimePeriod {
        font-size: 20px;
    }

    #controlButton {
        width: 45px;
        height: 45px;
    }

}

@media only screen and (max-height: 500px) {
    .container{
        flex-direction: row;
        width: 500px;
        height: 190px;
    }
    body::after {
        width: 565px;
        height: 255px;
    }
    .cover {
        width: 200px;
    }
    .cdDesign {
        width: 45px;
        height: 45px;
        border-width: 10px;
    }
    .playlistView {
        top: 10px;
        left: 10px;
        width: 260px;
        height: 220px;
        padding-top: 10px;
    }
    .playlistView > span{
        margin: 9px 35px;
    }
    .title {
        font-size: 30px;
        text-align: center;
    }

    #controlButton {
        width: 30px;
        height: 30px;
    }

    .volumeContainer {
        display: inline-block;
    }
}

::-webkit-scrollbar {
    height: 8px;
    width: 4px;
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #ffffff;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #000;
}

.volumeContainer{
    display: flex;
    align-items: center;
    width: 100%;
}

.volumeContainer {
    position: relative;
    box-shadow: 0 0px 25px rgb(14, 14, 14);

}

.muteButton {
    position: absolute;
    left: 5px;
    filter: drop-shadow(0 0 2px #333333);
}

.volume {
    width: 100%;
    height: 32px;
    appearance: none;
    background-color: #272727;
    border-radius: 10px;
    overflow: hidden;
}

.volume::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 32px;
    background-color: #ffffffcc;
    box-shadow: -407px 0 0 400px #ffffffcc;
    border: none;
}

.volume::-moz-range-thumb {
    appearance: none;
    width: 15px;
    height: 32px;
    background-color: #ffffffcc;
    box-shadow: -407px 0 0 400px #ffffffcc;
    border: none;
}

.volumePercent {
    position: absolute;
    right: 5px;
    color: #FF0059;
    font-size: 25px;
    font-weight: 800;
    text-shadow: 0 0 2px #333333;
    pointer-events: none;
    
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}